{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
<p>{{ text_shipping_method }}</p>
{% for shipping_method in shipping_methods %}
<p><strong>{{ shipping_method.title }}</strong></p>
{% if not shipping_method.error %}
{% for quote in shipping_method.quote %}
<div class="radio">
  <label> {% if quote.code == code or not code %}
    {% set code = quote.code %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" checked="checked" />
    {% else %}
    
                <input type="radio" name="shipping_method" value="{{ quote.code }}" {% if quote.lockers %} disabled {% endif %} />
            
    {% endif %}
    {{ quote.title }} - {{ quote.text }}</label>

                {% if quote.lockers %}
                    <div class="lockers">
                        <div class="row">
                            <ul>
                                <div class="col-sm-4">
                                    <div id="search" class="input-group">
                                        <select id="selectLocker" name="search" placeholder="Search" class="form-control input-lg">
                                            <option class="input-group" value=""> Alege Locker </option>
                                            {% for locker in quote.lockers %}
                                                <option class="input-group" value="{{ quote.code }}.{{ locker.locker_id }}"> {{ locker.name }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <script>
                jQuery(document).ready(function ($) {
                    $(document).on("click", "#selectLocker", function(){
                        lockerValue = $(this).val();
                        $(this).closest(".radio").children()[0].childNodes[1].checked = false;

                        if (lockerValue != "") {
                            $(this).closest(".radio").children()[0].childNodes[1].checked = true;
                        }

                        $(this).closest(".radio").children()[0].childNodes[1].value = lockerValue;
                    });
                });
                </script>
            
</div>
{% endfor %}
{% else %}
<div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
{% endif %}
{% endfor %}
{% endif %}
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control">{{ comment }}</textarea>
</p>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-shipping-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
