<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
{{ gdpr_link }}
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

				{% if dc_shipping_popup %}
					<script>
						var style = '<style>';
						style += '#dc-fixed-alert-container {';
						style += 'position: fixed;';
						style += 'max-width: 280px;';
						style += 'z-index: 9999;';
						style += 'left: 10px;';
						style += 'bottom: -100px;';
						style += 'transition: 0.5s all;';
						style += '}';
						style += '#dc-fixed-alert-container.active {';
						style += 'bottom: 20px;';
						style += '}';
						style += '#dc-fixed-alert-container #dc-free-shipping-alert {';
						style += 'border-radius: 5px !important;';
						style += '}';
						style += '</style>';
						$(style).appendTo('head');
						$('<div id="dc-fixed-alert-container"></div>').appendTo('body');
						if ($('#cart #dc-free-shipping-alert').length) {
							var DCalert = $.trim($('#cart #dc-free-shipping-alert').text());
						} else {
							var DCalert = '';
						}
						$(document).on('ajaxSuccess', function() {
							$('#dc-fixed-alert-container').removeClass('active');
							if ($('#cart #dc-free-shipping-alert').length && $.trim($('#cart #dc-free-shipping-alert').text()) != DCalert) {
							DCalert = $.trim($('#cart #dc-free-shipping-alert').text());
								var DCalertClone = $('#cart #dc-free-shipping-alert')[0].outerHTML;
								$('#dc-fixed-alert-container').html($(DCalertClone)).addClass('active');
								setTimeout(function() {
									$('#dc-fixed-alert-container').removeClass('active');
								}, 5000);
							}
						});
					</script>
				{% endif %}
			
</body></html>